<!doctype html>
<html ng-app="cnblogs">
<head>
    <meta charset="utf-8">
    <title>闪存</title>
    <meta http-equiv="Cache-Control" content="max-age=1000" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css?v=7.0.0" />
    <link rel="stylesheet" href="css/index.css?v=1" />
    <script type="text/javascript" src="js/angular.min.js?v=1.6.4"></script>
    <script type="text/javascript" src="js/moment.min.js?v=2.18.1"></script>
    <script type="text/javascript" src="js/index.js?v=1"></script>
</head>
<body ng-controller="IngController">
    <header class="main-header">
        <div class="upper-area">
            <div class="wrapper g">
                <ul class="nav">
                    <li><a target="_blank" href="https://www.cnblogs.com/">博客园</a></li>
                    <li><a target="_blank" href="https://ing.cnblogs.com/">闪存</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="search_box">
            <input id="keyword" type="text" maxlength="225"/>
            <button>搜索</button>
        </div>
        <div style="margin:20px 0;">
            <ul class="ing_list">
                <li ng-repeat="item in data" ng-class="{true:'item_even', false:'item_odd'}[$index%2==0]">
                    <div>
                        <a class="item_author" target="_blank" title="闪存主页" ng-href="{{ingHome(item)}}"
                            ng-bind="item.AuthorNickName||item.AuthorUserName||item.AuthorID"></a>：
                        <span class="item_body" ng-bind-html="renderHtml(item.Body)"></span>
                        <span class="item_star" ng-if="item.Lucky" title="幸运闪"></span>
                        <a class="ing_time" target="_blank" title="详细页面"
                            ng-href="{{ingDetail(item)}}" ng-bind="fromNow(item)"></a>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer></footer>
</body>
</html>